{
    "prettier.proseWrap": "preserve",
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "parser": "typescript",
    "endOfLine":"crlf"
}